/* basic normalisation of html, which is broken by default */
body {
  margin: 0px 0px;
  padding: 0;
  line-height: 1.5;
}

/* headers are anton font */
h1, h2, h3, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

/* text blocks are work sans */
p, span {
  font-family: 'Work Sans', sans-serif;
}

/* some utility classes to use in html */
.font-anton {
  font-family: 'Anton', sans-serif;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif;
}

.font-200 {
  font-weight: 200;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-900 {
  font-weight: 900;
}

/* actual styles: */

.bg {
  background-color: #da3434;
  background-image: url("assets/vector-blue-sine-wave-pattern-background-small.png");
  background-blend-mode: soft-light;
  background-size: 128px;
  color: #141414;
  padding: 0px;
  animation: movebg 20s linear infinite;
  -webkit-animation: movebg 20s linear infinite;
  }

  @keyframes movebg {
    to {
      background-position: 0px;
    }
  }
  @-webkit-keyframes movebg {
    to {
      background-position: 128px;
    }
  }

.main-header {
  margin: 10px 40px;
  font-size: 120px;
}

.modal {
  background-color: #a99997;
}
