/* basic normalisation of html, which is broken by default */
body {
  margin: 0px 0px;
  padding: 0;
  line-height: 1.5;
}

/* headers are anton font */
h1, h2, h3, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

/* text blocks are work sans */
p, span {
  font-family: 'Work Sans', sans-serif;
  margin: 5px 10px;
}

/* some utility classes to use in html */
.font-anton {
  font-family: 'Anton', sans-serif;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif;
}

.font-200 {
  font-weight: 200;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-900 {
  font-weight: 900;
}

.font-big {font-size: 3rem}
.font-normal {font-size: 1.2rem}

/* actual styles: */

.bg {
  background-color: #dedad3;
  background-image: url("assets/vector-blue-sine-wave-pattern-background-small.png");
  background-blend-mode: soft-light;
  background-size: 128px;
  color: #141414;
  padding: 0px;
  animation: movebg 10s linear infinite;
  -webkit-animation: movebg 10s linear infinite;
  }

  @keyframes movebg {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 27px;
    }
  }
  @-webkit-keyframes movebg {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 27px;
    }
  }

.main-header {
  margin: 10px 30px;
  font-size: 90px;
  mix-blend-mode: hard-light;
  color: #333;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  box-sizing: border-box;
  color: #000a;
}
